body,
html {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

/* Header background blog */
#image-header {
    width: 100%;
    max-height: 70vh;
}

/* Container */
.blog-body {
    display: flex;
    flex-direction: row;
}

/* Left Menu */
.blog-left {
    margin-top: 4em;
    width: 40%;
    background-color: #FAF1D6;
    height: fit-content;
    margin-left: 1em;
    padding-right: 1em;
}

.left-title{
    margin-left: 10px;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

/* Right Content */
.blog-right{
    margin-right: 1em;
}
/* News Image */
.blog__image {
    width: 27%;
}
.blog-item-image {
    width: 100%;
    height: 10em;
    margin-right: 10px;
}
/* Blog overview */
.blog-right ul {
    display: inline-block;
    margin-top: 0px;
    list-style: none;
    padding-inline-start: 1.5em;
}
/* List blog item */
.blog-item {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin-bottom: 10px;
}
.blog__item-right {
    width: 70%;
    margin-left: 10px;
}
h3{
    margin-block-end: 0.3em;
}
#author {
    color: #8D7676;
    margin-top: 0px;
}
p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* Footer next page */

.transfer-page{
    text-align: center;
    margin-bottom: 1.5rem;
}
.transfer-page a{
    text-decoration: none;
    color: black;
}
.transfer-page a:hover{
    color: blue;
}

/* Responsive */
/* Mobile: width < 768px */

@media only screen and(max-width: 600px) {}

/* Tablet: width>=768px and width<=1024px */

/* @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .blog-left {
        display: none;
    }
    .blog-right {
        width: 100%;
        margin-left: -25px;
        margin-right: 50px;
    }
    .blog-body {
        margin-left: 0px;
        padding-left: 0px;
    }
    .title-content {
        margin-left: 5%;
    }
    .blog-footer {
        margin-left: 30%;
    }
} */

@media only screen and (max-width: 660px) {
    .blog-left {
        display: none;
    }
}
