.form-container {
    width: 40%;
    margin: 0 auto;
    min-width: 350px;
}

.form-line {
    margin: 10px 0;
}

.ipbox {
    border: solid black 1.7px;
    margin-top: 10px;
    height: 1.5rem;
    background-color: #D9F1F1;
    width: 98%;
}

select.ipbox {
    height: 1.85rem;
}

.flex-item {
    display: flex;
    justify-content: space-between;
}

.flex-item-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#edit-item {
    display: flex;
}

#phoneError,
#phoneError1,
#passError,
#passError1,
#cccdError,
#cccdError1 {
    color: red;
    font-size: 12px;
    font-style: italic;
    display: none;
}

#phuong,
#quan,
#tp {
    width: 30%;
}

#sonha,
#duong {
    width: 40%;
}

input {
    margin-right: 5px;
}

.lb-title {
    line-height: 1.5rem;
    text-align: center;
    margin-top: 10px;
}

#ngaycap,
#cccd, #pass {
    width: 100%;
}

label {
    font-weight: bolder;
    text-align: left;
    white-space: nowrap;
    margin-right: 5px;
}

h2 {
    margin-bottom: 10px;
}

a,
.submit {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

button,
.submit {
    border: none;
    margin: 10px 0;
    background: none;
}

.txt-info {
    min-height: 100px;
    font-family: Roboto;
}

#luong::placeholder {
    text-align: right;
}

 ::placeholder {
    color: black;
    padding-left: 10px;
}

@media screen and (max-width:600px) {
    .flex-item,
    .txtbox {
        display: block;
    }
    .checkbox {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
    }
    #sonha,
    #duong,
    #phuong,
    #tp, #quan 
    {
        width: 100%;
    }}