body,
html {
    margin: 0;
    font-family: 'Roboto';
    word-spacing: 1px;
}

.header {
    display: flex;
    background: rgba(255, 249, 196, 0.7);
}

.header__item-left {
    display: flex;
    flex-basis: 20%;
}

#logo {
    width: 100px;
    height: 80px;
    display: block;
}

#athene {
    font-size: 30px;
    display: inline;
    line-height: 80px;
    color: darkblue;
    text-shadow: 1px 1px darkblue;
}

.header__item-middle {
    overflow: hidden;
    flex-basis: 55%;
    font-weight: bold;
}

.header__item-middle a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header__item-middle .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__item-middle a {
        display: none;
    }
    .header__item-middle a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 6768px) {
    .header__item-middle.responsive {
        position: relative;
    }
    .header__item-middle.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header__item-middle.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.header__item-right {
    flex-basis: 25%;
}

.header__item-right input {
    margin-right: 10px;
    height: 45px;
    width: 120px;
    border-radius: 13px;
    border-style: none;
    font-weight: bold;
    font-size: 17px;
}

#signIn {
    background-color: white;
    color: black;
    border-color: white;
}

#signUp {
    background-color: orange;
    color: white;
    border-color: orange;
}

.header__item-right {
    flex: 2;
}

.header__item-middle p,
.header__item-right p {
    text-align: center;
    display: inline-block;
    line-height: 45px;
}

@media screen and (max-width:768px) {
    #logo {
        display: none;
    }
    #signUp {
        display: none;
    }
}
/* CSS Banner*/
.mySlides {
    display: none;
}

.banner-image {
    width: 100%;
    height:490px ;
}

.banner-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* user manual */
.body-guide{
    display: flex;
    justify-content: space-evenly;
}
.guide__item{
    display: flex;
    flex-direction: column;
    border-radius: 10PX;
    width: 22%;
    text-align: center;
    height: 250px
}
.guide__item-left{
    background-color: #FBD974;

}
.guide__item-center{
    background-color: #EFAF74;
}
.guide__item-right{
    background-color: #CA914D;
}
#number{
    border-radius: 50%;
    color: #333C8D;
    border: 2px solid #333C8D;
    text-align: center;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20PX;
    font-size: 25PX;
    font-weight: bolder;
}
#font{
    font-size: 18px;
    line-height: 21px;
}
p#font{
    margin: 0 10px;
}
h2.content-title{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
/* our Strength */
h5#font{
    margin-top: 2px;
}
.body-advantage {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-bottom: 40px;
    margin: 0 20px;
}

#icon {
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.advantage__item {
    background-color: #FFE28C;
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    height: 230px;

}
/* About us */

span#color {
    color: #F24E1E;;
}

.body-AboutUs {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.AboutUs__item-1 {
    display: flex;
    width: 20%;
    margin-left: 50px;
}

.AboutUs__item-2 {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    line-height: 30px;
    vertical-align: middle;
    min-width: 200px;
    height: 300px;
    margin-right: 0%;
    margin-top: 2%;
}

button.aboutus {
    text-align: center;
    background-color: #093BBA;
    color: white;
    width: 128px;
    height: 46.81px;
}

.AboutUs__item-2-1 {
    margin-right: 0px;
    margin-left: 80%;
    margin-top: 20px;
}

img#abus-image {
    width: 500px;
    height: 400px;
}

p {
    margin-bottom: 0px;
    word-spacing: 3px;
    font-size: 18px;
}
/* Footer */
div.athene{
    margin-left: 10px;
    /* margin-top: 10px; */
    font-family: 'Raleway';
    font-size: 35px;
    line-height: 41px;
    color: #172EFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);}
    .footer--item_left, .footer--item_right{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .copinfo{
        display: block;
    }
    .intro_icon{
        width: 20px;
        height: 20px;
    }
    .footer{
        margin-top: 50px;
        display: flex;
        background: rgba(255, 249, 196, 0.7);
    }
    div.m-title{
        font-weight: bold;
        font-size: 23px;
        margin-top: 5px;
    }
    .imglink{
        margin-left: 50px;
        margin-top: 5px;
    }
    li.copinfo--row{
        font-size: 18px;
        line-height: 20px;
    }
    .bocongthuong{
        max-height: 90px;
        margin-top: -30px;
        margin-bottom: 5px;
    }
    .contact_icon{
        height: 40px;
        margin: 10px 15px;
    }
