            .form-container {
                width: 50%;
                margin: 0 auto;
            }
            
            .form-row {
                display: flex;
                justify-content: space-between;
                line-height: 1.5rem;
                margin-bottom: 5px;
            }
            
            .form__input-checkbox {
                flex: 1;
                margin-top: 10px;
            }
            
            .form__input {
                flex: 1;
                border: 1.7px solid black;
                margin-top: 10px;
                height: 1.6rem;
                background-color: #D9F1F1;
                width: 100%;
                padding-right: 5px;
            }
            
            .form__lable {
                font-weight: bolder;
                line-height: 1.5rem;
                text-align: center;
                margin-top: 10px;
            }
            
            #phuong,
            #quan,
            #thanhPho {
                width: 30%;
            }
            
            #soNha,
            #duong {
                width: 40%;
            }
            
            h2 {
                margin-bottom: 8px;
            }
            
            #luong::placeholder {
                text-align: right;
            }
            
             ::placeholder {
                color: black;
                padding-left: 10px;
            }