/* Chung  */

body {
    font-family: Roboto;
    margin-top: 5rem;
    color: white;
}

.container {
    background-image: url(../Images/SignIn_SignUp/Background_SignIn.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container,
.form {
    margin: 0 auto;
    padding-top: 1.2rem;
    width: 60%;
    height: 70vh;
}

h1,
h3 {
    text-align: center;
    margin-bottom: 0.06rem;
}

hr {
    width: 16%;
    height: 0.2rem;
    background-color: #093BBA;
    border: none;
}

.header {
    float: right;
    padding-right: 0.5rem;
    margin-top: -0.7rem;
}


/* Sign Up */

.button {
    padding-top: 2rem;
    text-align: center;
}

.button input {
    background-color: #FF7E06;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 30%;
    height: 4rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}


/* Sign In */

.form label {
    font-size: 1.2rem;
}

.nhapSodt,
.nhapPass,
.buttonSignIn {
    border-radius: 30px;
    margin: 8px 0;
    width: 100%;
    height: 2.7rem;
}

.forgetPass,
.linkSignUp {
    font-size: 1rem;
}

.forgetPass {
    float: right;
}

.linkSignUp {
    text-align: center;
    margin-top: 0px;
}

.buttonSignIn {
    background-color: #093BBA;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.linkSignUp a {
    color: #FFF9C4;
}

.forgetPass a {
    color: white;
}

.forgetPass a,
.linkSignUp a {
    text-decoration: none;
}

.linkSignUp a:hover,
.forgetPass a:hover {
    color: orange;
    font-size: 1.2rem;
}

.nhapSodt,
.nhapPass {
    background: transparent;
    color: white;
    font-weight: bold;
    border: 4px solid white;
    outline: none;
}

@media screen and (max-width:1500px) {
    .container {
        height: 27rem;
    }
}

#phoneError {
    font-size: 1.1rem;
    color: red;
}