/* Profile header */
.background {
    position: relative;
    z-index: -1;
    width: 90%;
    height: 20em;
    margin-left: 5%;
    border-radius: 20px; 
}

.frame-edit {
    width: fit-content;
    background-color: white;
    z-index: 1;
    position: relative;
    margin-top: -4em;
    margin-left: 80%;
}

.frame-edit-photo {
    display: flex;
    
}

/* .button_edit-background {
    display: none;
} */
#text{
    height: 2em;
}
#camera {
    margin: 0 1rem;
}

.ava {
    width: 60rem;
    /* margin-left: 100px;
    margin-top: -20px;
    display: flex; */
    margin: 0;
}

/* body */
.body-content {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}
.btn {
    width: 100%;
}

/* body left */

.body-left {
    width: 33%;
    margin: 2rem;
}
.body__left-content {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0rem 2rem 2rem 2rem;
    /* width: fit-content; */
}


.body-right {
    width: 65%;
}

h2,
h3 {
    text-align: center;
}

h2 {
    color: #0077C0;
}

.btn-edit{
    margin: 2rem 0;
    padding: 0.3rem;
}

#space-btn {
    margin-top: 20px;
}

.body__right-content-class {
    border: 1px solid black;
    border-radius: 20px;
    padding: 4rem;
    margin-bottom: 2rem;
    padding: 0rem 4rem 2rem 4rem;
}

.body__right-content-experience {
    border: 1px solid black;
    border-radius: 20px;
    padding: 4rem;
    margin-bottom: 2rem;
    padding: 0rem 4rem 2rem 4rem;
}

.body__right-content-award {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0rem 4rem 2rem 4rem;
}

.btn-right {
    justify-content: right;
    width: 8rem;
    float: right;
}

.colorbg {
    background-color: #0077C0;
    width: 80%;
    color: white;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}


/* CSS Show Tutor Profile */

.frame-button {
    margin: 20px;
}

.btn-follow {
    margin-bottom: 2rem;
    height: 2rem;
    background-color: #0077C0;
    color: white;
}

.btn-signin {
    height: 2rem;
    background-color: #0077C0;
    color: white;
}