<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Profile</title>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="../CSS/TutorProfile.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="../Js/Header.js"></script>
    <script src="../Js/angular.min.js"></script>
    <script src="../Js/ProfileRender.js"></script>
    <script>
        var loadCover = function(event) {
            var cover = document.getElementById('cover-image');
            cover.src = URL.createObjectURL(event.target.files[0]);
            cover.onload = function() {
                URL.revokeObjectURL(cover.src)
            }
        };
    </script>
    <script>
        var loadAvatar = function(event) {
            var avatar = document.getElementById('user-avatar');
            avatar.src = URL.createObjectURL(event.target.files[0]);
            avatar.onload = function() {
                URL.revokeObjectURL(avatar.src)
            }
        };
    </script>
    <script>
        let app=angular.module('Edit',[]);
        app.controller('myCtrl', function($scope,$rootScope){
            class Tutor{
                constructor(Bio,Gender,dob,Education,majoy,c1,c2,c3){
                    this.Bio=Bio;
                    this.Gender=Gender;
                    this.dob=dob;
                    this.Education=Education;
                    this.majoy=majoy;
                    this.c1=c1;
                    this.c2=c2;
                    this.c3=c3;
                }
            }
        })
    </script>
</head>
<style>
    .profile-edit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* z-index: 1; Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.edit-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

</style>
<body ng-app="AngularApp" ng-controller="ProfileController" style="position: relative; width: 100%;">
     <!-- Header -->
     <div w3-include-html="../Athene_header_footer/Header.html" style="position: fixed; z-index: 1;"></div>
    <script async>
        w3.includeHTML();
    </script>
     <!-- Body  -->
     <div class="profile">
        <img class="cover-image" src="../Images/ProfileTutor/background.png" id="cover-image">
        <div class="user-info">
            <img class="user-avatar" src="../Images/ProfileTutor/user_ava.jpg" id="user-avatar">
            <div class="user-name" ng-repeat="x in profiles">
                <label class="btn-avatar">
                    <input type="file" name="avatar-image" accept="image/*" onchange="loadAvatar(event)">
                    <button><i class='fa fa-camera'></i> </button>
                </label>
                <h1>{{x.Name}}</h1>
                <p>{{x.Followers}}</p>
            </div>
            <label class="btn-cover">
                <input type="file" name="cover-image" accept="image/*" onchange="loadCover(event)">
                <button> <i class='fa fa-camera'></i> Chỉnh sửa ảnh bìa</button>
            </label>
        </div>
        <!-- User content -->
        <div class="user-container" ng-repeat="x in profiles">
            <!-- Left item -->
            <div class="user__item--intro">
                <h2>Giới thiệu</h2>
                <div>{{x.Bio}}</div>
                   <!-- <textarea class="intro__textarea" readonly cols="30" rows="2" maxlength="100" style="text-align: center;">{{x.Bio}}</textarea> -->
                <br>
                <button class="btn-editinfo">Chỉnh sửa</button>
                <h2>Thông tin cá nhân</h2>
                <div class="information">
                    <div class="info-line">
                        <div class="title">Giới tính: &nbsp</div>
                        <div>{{x.Gender}}</div>
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.major}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title">Ngày sinh: &nbsp</div>
                        <div>{{x.dob}}</div>
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.dob}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title"> Sinh viên trường: </div>{{x.Education}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.Education}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title"> Chuyên ngành:&nbsp </div>
                        <div>{{x.major}}</div>
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.major}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title">Đã học tại:&nbsp </div>
                        <div>{{x.c3}}</div>
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.c3}}</textarea> -->
                    </div>
                </div>
                
                <button class="btn-editinfo" id="btn-edit">Chỉnh sửa thông tin cá nhân</button>
                <p></p>
                <!-- Test -->
                <div id="myProfile" class="profile-edit">
                    <div class="edit-content">
                      <div class="info-line">
                          <div class="title">Giới tính:&nbsp </div>
                          <input type="text" id="oldschool" value="{{x.Gender}}">
                      </div>
                      <div class="info-line">
                          <div class="title">Ngày sinh:&nbsp </div>
                          <input type="text" id="dob" value="{{x.dob}}">
                      </div>
                      <div class="info-line">
                          <div class="title">Đã học tại:&nbsp </div>
                          <input type="text" id="oldschool" value="{{x.c3}}">
                      </div>
                      <div class="info-line">
                          <div class="title"> Sinh viên trường: </div>
                          <input type="text" id="school" value="{{x.Education}}">
                      </div>
                      <div class="info-line">
                          <div class="title"> Chuyên ngành:&nbsp </div>
                          <input type="text" id="major" value="{{x.major}}">
                      </div>
                
                  <button class="btn-editinfo">Lưu</button>
                  <p></p>
                  </div>
                  </div>
                  <script>
                  // Get the modal
                  var profile = document.getElementById("myProfile");
                  
                  // Get the button that opens the modal
                  var edit = document.getElementById("btn-edit");
                  
                  // Get the <span> element that closes the modal
                  var span = document.getElementsByClassName("close")[0];
                  
                  // When the user clicks the button, open the modal 
                  edit.onclick = function() {
                      profile.style.display = "block";
                  }
                  
                  // When the user clicks on <span> (x), close the modal
                  span.onclick = function() {
                      profile.style.display = "none";
                  }
                  
                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function(event) {
                    if (event.target == profile) {
                      profile.style.display = "none";
                    }
                  }
                  </script>
                <!--  -->
                <button class="btn-editinfo">Thêm thông tin chú ý</button>
                <p></p>
            </div>
            <!-- Right item -->
            <div class="user__item--content">
                <!-- Register class -->
                <div class="content__item--class">
                    <h3>Lớp đang đăng kí</h3>
                    <div class="info-line">
                        <div class="title">Cấp dạy:&nbsp </div>{{x.class}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.class}}</textarea> -->
                        
                    </div>
                    <div class="info-line">
                        <div class="title">Môn dạy: &nbsp </div>{{x.Subject}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.Subject}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title">Giới tính học viên: &nbsp </div>{{x.LearnerGender}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.LearnerGender}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title">Địa điểm dạy: &nbsp </div>{{x.TeachDi}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.TeachDi}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title">Thời gian dạy: &nbsp </div>{{x.TeachingTime}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.TeachingTime}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title">Mức lương mong muốn: &nbsp </div>{{x.Fee}}
                        <!-- <textarea class="intro__textarea" readonly cols="40" rows="1">{{x.Subject}}{{x.Fee}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title"> Lịch học dự kiến: &nbsp </div>{{x.TimeTable}}
                        <!-- <textarea class="intro__textarea" readonly cols="30" rows="1">{{x.TimeTable}}</textarea> -->
                    </div>
                    <div class="info-line">
                        <div class="title"> Mô tả thêm: &nbsp </div>{{x.More}}
                        <!-- <textarea class="intro__textarea" readonly cols="40" rows="4" maxlength="200">{{x.More}}</textarea> -->
                    </div>
                    <button class="btn-editcontent">Chỉnh sửa</button>
                </div>
                <!-- Experience -->
                <div class="content__item--exp">
                    <h3>Kinh nghiệm làm việc</h3>{{x.Exps[0].Exp1}} <br>{{x.Exps[0].Exp2}}
                    <!-- <textarea class="intro__textarea" readonly cols="45" rows="2">{{x.Exps[0].Exp1}} </textarea>
                    <br>
                    <textarea class="intro__textarea" readonly cols="45" rows="2">{{x.Exps[0].Exp2}}</textarea>
                    <br> -->
                    <button class="btn-editcontent">Chỉnh sửa</button>
                </div>
                <!-- Achievement -->
                <div class="content__item--achieve">
                    <h3>Thành tích đạt được</h3>{{x.Achievements[0].Achievements1}} <br> {{x.Achievements[0].Achievements2}} <br>{{x.Achievements[0].Achievements3}}
                    <!-- <textarea class="intro__textarea" readonly cols="40" rows="1" maxlength="100">{{x.Achievements[0].Achievements1}}</textarea>
                    <textarea class="intro__textarea" readonly cols="40" rows="1" maxlength="100">{{x.Achievements[0].Achievements2}}</textarea>
                    <textarea class="intro__textarea" readonly cols="30" rows="1" maxlength="100">{{x.Achievements[0].Achievements3}}</textarea> -->
                    <button class="btn-editcontent">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div w3-include-html="../Athene_header_footer/Footer.html"></div>
    <script>
        w3.includeHTML();
    </script>
</body>
</html>
